<div class="container main">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h3 class="text-center">Search GitHub User</h3>
            <br><br>
                <div class="mb-3 mt-6">
                    <input type="text" [(ngModel)]="searchName" class="form-control" placeholder="Search User">
                </div>
                
                <div class="d-grid gap-2">
                <button (click)="searchUsers();" class="btn btn-success btn-sm">Search</button>
                </div>
            </div>
            </div>

            <div class="row justify-content-center search-results">
                <div class="col-md-4">
                    <p>Search Results ({{ searchResults.items?.length }})</p>
                    <div *ngIf="searchResults">
                        <div *ngFor="let result of searchResults.items">
                            <a href="{{result.html_url}}" target="_blank">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img src="{{ result.avatar_url }}" class="img-fluid rounded-start" alt="...">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">{{ result.login }}</h5>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>        
 
